* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: sant;
    src: url(fonts/sant-joan-despi/SantJoanDespiRegular.otf);
}
@font-face {
    font-family: kaoly;
    src: url(fonts/kaoly/Kaoly\ Demo-Regular.ttf);
}
@font-face {
    font-family: porkys;
    src: url(fonts/porky_s/PORKYS_.TTF);
}
@font-face {
    font-family: cheri;
    src: url(fonts/cheri/CHERI___.TTF);
}
@font-face {
    font-family: romantic;
    src: url(fonts/new_romantics/ROMANTIC.TTF);
}
body {
    height: 100vh;
    background-image: url(images/scene.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
}
.container{
    position: absolute;
    right: 2vw;
    bottom: 3vh;
}
img{
    width: 7vw;
}
p{
    font-size: 1.4rem;
    font-family: romantic;
    letter-spacing: 4px;
    background-color: #2a2844;
    border: 2px solid #ecebfff1;
    border-radius: 20px;
    margin: 5px;
    color: white;
    text-align: center;
    padding: 5px;
    transition: filter 0.3s ease;
    text-decoration: none;
}
.down{
    width: 30%;
    background-color: #625f8a;
}
.down:hover{
    filter: brightness(80%);
}
.down a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}